.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.survey-step-icon {
  transform: scale(0.7)!important;
  height: 26px!important;
  width: 20px!important;
  margin-left: -2px!important;
}

